<h2>To play Flash Mob Cards, please log in:</h2>

<% if @errors %>
 <% @errors.each do |error_message| %>
    <%= error_message %>
  <% end %>
<% end %>


<h3>If you do not have a mobster account, <a href="/users/new">register here</a>

<form action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" placeholder="username" class="form-text">
<br>
<label for="password">Password:</label>
<input type="password" name="password" placeholder="password" class="form-text">
<br>

<input type="Submit" value="login to play Flash Mob" class="form-button"> 

</form>

