<h2>To play Flash Mob Cards, please log in:</h2>

<% if @errors %>
 <% @errors.each do |error_message| %>
    <%= error_message %>
  <% end %>
<% end %>


<h3>If you do not have a mobster account, <a href="/users/new">register here</a>

<form action="/login" method="post">
<label for="email">Email:</label>
<input type="text" name="email" placeholder="email">
<br>
<label for="password">Password:</label>
<input type="password" name="password" placeholder="password">
<br>

<input type="Submit" value="login to play Flash Mob">

</form>

