<h1> Edit your mobster profile:</h1>

<% if @errors %>
 <% @errors.each do |error_message| %>
    <%= error_message %>
  <% end %>
<% end %>


<form method="post" action="/users/<%= @user.id %>">
  <input value="put" type="hidden" name="_method">
<div>
  <label for="first_name">Username Name:</label>
  <input type="text" name="username" value="<%= @user.username %>" class="form-text">
</div>

<div>
  <label for="password">Password:</label>
  <input type="password" name="password" value="<%= @user.password %>" class="form-text">
</div>

  <input type="submit" value="Submit to Update your Profile" class="form-button">
</form>
