<h1> Welcome to 'The Godfather' Flash Cards</h1>
<h2>Leave the gun and take the cannoli...</h2>

<img src= "/img/godfather.jpg" id="godfather_image">


<% if logged_in? %>

<h2>Pick a deck to play:</h2>
  <% @decks.each do |deck| %>
  <div class="deck-list">
    <a href="/decks/<%=deck.id%>"><button class="main-button"><%= deck.subject %></button></a>
  </div>

<% end %>
  <% else %>

  <h3><a href="/login"><button class="main-button">Click here to login</button></a>
<h3><a href="/users/new"><button class="main-button">Click here to sign up</button></a>


<% end %> 





