<h1>You have selected the <%= @deck.subject %> deck!</h1>

<form action='/rounds' method='post'>
    <input type="hidden" name="deck_id" value="<%=@deck.id%>">
    <input type='submit' value='start the game' class="form-button">
</form>

